<table class="table table-hover">
    <tr>
        <td width="70px">
{#            <a href="{{ url_for('user', username=post.author.username) }}">#}
{#                <img src="{{ book.image_link_small }}" />#}
{#            </a>#}
            <img src="{{ book.image_link_small }}" />
        </td>
        <td>
            <a href="{{ url_for('user', username=book.owner.username) }}">
                {{ book.owner.username }}
            </a> is reading:
            <br>{{ book.title }}
            <br>By: {{ book.author }}
            <br>
        </td>
    </tr>
</table>