{% extends "base.html" %}

{% block app_content %}

    <div><form action="/popular" method="get">
        List type: <br>
        <input type="radio" name="list_type" value="fiction" checked="checked"/>Fiction
        <input type="radio" name="list_type" value="non_fiction" checked="checked"/>Non-Fiction
        <br>
        <input type="submit" value="GO">

    </form></div>

        <h1>Current most popular books from the NYT Bestsellers List</h1>

    <div>
        {% for nyt_book in nyt_books %}
            {% include '_nyt_book.html' %}
        {% endfor %}

    </div>

{% endblock %}